* {
    body {
        background-color:#F2F0E8;
        margin: 0%;
    }
    h1 {
        font-family:Kirang Haerang;
    }
    h2 {
        font-family:Kirang Haerang;
        text-align: center;
    }
    h3 {
        text-align: center;
        font-family:Kirang Haerang;
        font-size:x-large;
    }
    #line-break {
            height:3px;
            background-color: #FAC6C6;
        }
    #nav {
            border-bottom-style:solid;
            border-color: #ADAC85;
            border-width: 5px;
            margin:0px;
            z-index: 10;
        }
        #nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            font-family:Kirang Haerang;
            font-size: 30px;
            background-color:#525046;
        }
        #nav ul li {
            float: left;
            margin:5px;
        }
        #nav ul li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            color: white;
        }
        #nav ul li a:hover {
            background-color: #FF7F3F;
        }
    .thispage {
            background-color: #FAC6C6;
        }


    @media (max-width:1000px) {
        ul {
            font-size: 20px;
        }
    }
    @media (max-width:800px) {
        ul {
            font-size: 15px;
        }
    }

    #footer {
            border-top-style:solid;
            border-color: #ADAC85;
            background-color: #525046;
            border-width: 5px;
            margin:0px;
            z-index: 10;
            margin-top:60px;
            color: white;
            text-align: space-around;
            padding: 14px 16px;
        }
        #footer ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            font-family:Kirang Haerang;
            font-size: 20px;
            background-color:#525046;
        }

    #totop {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: #FAC6C6;
            cursor: pointer;
            padding: 20px;
            font-size: 25px;
            font-family:Kirang Haerang;
        }  

    #totop:hover {
            background-color: #FF7F3F;
        }
    .photoset-3 {
            display:flex;
            justify-content:center;
            margin-top: 80px;
            gap: 20px;
        }
        .photoset-3 img {
            max-width:30%;
            height:auto;
        }
        .photoset-2 {
            display:flex;
            justify-content:center;
            margin-top: 80px;
            gap: 20px;
        }
        .photoset-2 img {
            max-width:40%;
            height:auto;
        }
        .photoset-1 {
            display:flex;
            justify-content:center;
            margin-top: 80px;
            gap: 20px;
        }
        .photoset-1 img {
            max-width:70%;
            height:auto;
        }
}