* {
    body {
        background-color:#F2F0E8;
        margin: 0%;
    }
    h1 {
        font-family:Kirang Haerang;
    }
    #nav {
            border-bottom-style:solid;
            border-color: #ADAC85;
            border-width: 5px;
            margin:0px;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            font-family:Kirang Haerang;
            font-size: 30px;
            background-color:#525046;
        }
        ul li {
            float: left;
            margin:5px;
        }
        ul li a {
            display: block;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            color: white;
        }
        ul li a:hover {
            background-color: #FF7F3F
        }
    .thispage {
            background-color: #FAC6C6;
        }


    @media (max-width:1000px) {
        ul {
            font-size: 20px;
        }
    }
    @media (max-width:800px) {
        ul {
            font-size: 15px;
        }
    }
}